header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    display: flex;
    z-index: 12;
    // border-bottom: 1px solid #00477e;

    &.scrolled {
        background: #011f6fd9;
        height: 6rem;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        left: 5%;
        top: 2%;
        border-radius: 80px;
        box-shadow: 0 14px 20.200000762939453px #1d5c8824;
    }

    .container {
        @include flex(row, center, space-between);
        width: 100%;
        max-width: 145.6rem;
    }

    .btn-secondary {
        padding: 1rem 2rem;
        line-height: 0;
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            align-items: center;

            li {
                display: flex;

                &:not(:first-child) {
                    margin-left: 4.8rem;
                }

                a {
                    font-weight: 500;
                    font-size: 1.6rem;
                    line-height: 125%;
                    color: $white;
                    opacity: 0.8;
                    height: 8rem;
                    transition: all 0.3 ease;
                    display: flex;
                    align-items: center;
                    &:hover {
                        color: $brand-main;
                        opacity: 1;
                    }
                }

                &:hover {
                    a {
                        color: $white;
                    }
                }
            }
        }
    }

    @include responsive(1024px) {
        nav {
            ul {
                li {
                    &:not(:first-child) {
                        margin-left: 2.8rem;
                    }
                }
            }
        }
    }

    @include responsive(840px) {
        height: 7rem;
        display: flex;
        align-items: center;
        nav {
            ul {
                display: none;
            }
        }

        .dots {
            display: block;
        }
        .btn-secondary {
            display: none;
        }
        &.scrolled {
            width: 90%;
            left: 5%;
        }
    }
}

.menu-mobile {
    background: #011859;
    width: 90%;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: -90%; // Oculto fora da tela à esquerda
    z-index: 20;
    display: block;
    transition: left 0.3s ease-in-out;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);

    .cta-btn {
        width: 80%;
        color: $white;
        border-radius: 20px;
        padding: 17px;
        backdrop-filter: blur(1.1rem);
        border: rgba(30, 108, 234, 0.2588235294) 1px solid;
        padding: 16px;
        border-radius: 16px;
        border: 1px solid rgba(255, 255, 255, 0.168627451);

        position: absolute;
        bottom: 20px;

        font-size: 1.6rem;
        display: flex;
        justify-content: space-between;
        left: 10%;
        font-weight: 500;

        transition: 0.3s all ease-in;

        &:hover {
            background-color: #ffffff37;
        }
    }

    .logo-menu {
        position: absolute;
        left: 15px;
        top: 12px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
    }

    &.active {
        left: 0;
    }

    .icon-tabler-x {
        position: absolute;
        top: 24px;
        right: 24px;
        cursor: pointer;
    }

    ul {
        li {
            text-align: left;
            font-size: 1.6rem;
            margin: 2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            img {
                margin-left: 8px;
                margin-right: 16px;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }

    &__icons {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.9); // fundo preto com 90% de opacidade
    z-index: 10;
    display: none;
    transition: opacity 0.3s ease-in-out;

    &.active {
        display: block;
    }
}
.show {
    display: block;
}

.dots {
    color: $white;
    background-color: transparent;
    padding: $gutter;
    border-radius: $border-radius * 10;
    margin-right: $gutter * 2;
    display: none;
    // position: fixed;
    .icons-dots {
        display: none;
    }
}
