.s-service {
    padding: 90px 0;

    .subtitle {
        color: $green;
    }

    h2 {
        &::before {
            background-color: $green;
        }
    }

    .box-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 80px;
    }

    .box {
        width: 30%;
        background-color: $white;
        border: 1px solid #ececec;

        border-radius: 10px;
        padding: $gutter * 2;
        position: relative;

        height: 379px;

        &:first-child {
            border: none;

            &:hover {
                border: none;
            }
        }

        .badge {
            background-color: $green;
            padding: 4px 8px;
            color: $white;
            border-radius: 8px;
            font-weight: 500;
            font-size: 1.2rem;

            display: table;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        .d-flex-price {
            display: flex;
            margin-top: $gutter * 3;
            justify-content: space-between;
        }

        .price {
            color: $green;
            font-weight: 600;
        }

        ul {
            margin-top: 5rem;
            li {
                display: flex;
                font-size: 1.6rem;
                font-family: "Nunito", sans-serif;

                color: $gray-600;

                margin-bottom: 2rem;
                img {
                    margin-right: $gutter * 2;
                }
            }
        }

        .btn-price {
            background-color: $brand-blue-dark;
            color: $white;
            font-weight: 600;
            padding: 8px 24px;
            border-radius: 20px;
            font-size: 1.6rem;
            height: 40px;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 80%;
            margin: 0 auto;
            margin-top: 60px;

            transition: all 0.3s ease;
            margin-bottom: $gutter * 3;

            position: absolute;
            bottom: 11px;
            left: 10%;

            &:hover {
                background-color: $brand-blue-dark-100;
            }
        }

        &:hover {
            border: 1px solid $green;
        }
    }

    .s-numbers {
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        margin-top: 80px;
        text-align: center;
        h3 {
            font-size: 4rem;
        }
        div {
            width: 20%;
        }
    }

    // responsive
    @include responsive($tablet) {
        .s-numbers {
            width: 50%;
            width: 95%;
            margin: 0 auto;
            margin-top: 120px;
            flex-wrap: wrap;

            h3 {
                font-size: 2.5rem;
            }
            div {
                width: 48%;
                margin-bottom: 8px;
                align-items: center;
                text-align: center;
                background-color: #f5f7fa;
                padding: 6px;
                border-radius: 8px;

                &:last-child {
                    width: 100%;
                }
            }
        }
    }

    @include responsive($mobile) {
        .d-flex {
            margin-top: 4.5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .box {
            width: 100%;

            &:last-child {
                height: 300px;
            }
        }
    }
}
